{% extends "base.html" %}
{% block title %}
Documentation
{% endblock %}
{% block content %}

<div class="contain">
<div class="item">
    <p>Task manager features description:</p>
    <hr class="line">
    <img src="/static/Doc_scheme_screen.png" alt="Documentation scheme" width="800px">
    <p style="margin-top: 30px;">Markdown syntax is supported:</p>
    <hr class="line">
    <p style=" margin-top:30px">**Bold** → <strong>Bold</strong></p>
    <p>*Italic* → <em>Italic</em></p>
    <p>`Code` → <code>Code</code></p>

</div>
</div>

{% endblock %}